 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1360px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 619px;
  margin: 71px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-1 .u-image-1 {
  width: 314px;
  height: 450px;
  margin: 0 auto 0 130px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 236px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 20px 15px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 382px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  line-height: 2.2;
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  margin: -433px 1090px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 890px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 670px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 490px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 12px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -237px;
    margin-right: 20px;
    margin-left: 270px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 778px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  text-decoration: underline !important;
  margin: 18px 407px 0 457px;
}

.u-section-2 .u-list-1 {
  margin-top: 101px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 532px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline !important;
}

.u-section-2 .u-group-1 {
  min-height: 36px;
  width: 204px;
  height: auto;
  background-image: none;
  margin: 57px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 57px 15px 0 8px;
}

.u-section-2 .u-text-5 {
  margin: 57px 23px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 39px 23px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline !important;
}

.u-section-2 .u-group-2 {
  min-height: 36px;
  width: 204px;
  height: auto;
  background-image: none;
  margin: 57px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 57px 15px 0 8px;
}

.u-section-2 .u-text-10 {
  margin: 57px 23px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 39px 23px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-12 {
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline !important;
}

.u-section-2 .u-group-3 {
  min-height: 36px;
  width: 204px;
  height: auto;
  background-image: none;
  margin: 57px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0;
}

.u-section-2 .u-text-14 {
  margin: 57px 15px 0 8px;
}

.u-section-2 .u-text-15 {
  margin: 57px 23px 0 0;
}

.u-section-2 .u-text-16 {
  margin: 39px 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-text-1 {
    width: 276px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 47px;
    margin-bottom: 39px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 564px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 55px;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 29px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 55px;
    height: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 29px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 55px;
    height: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 29px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: 193px;
    margin-left: 251px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 61px;
    margin-bottom: 24px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1296px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -58px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 75px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-2 .u-text-1 {
    width: 276px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1423px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 43px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 6px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 43px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 6px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 43px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 283px;
    margin-left: 857px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1266px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 39px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 40px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 40px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 23px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 39px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 40px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 40px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 23px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 39px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 40px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 40px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 39px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 23px;
    margin-right: -10px;
    margin-left: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 729px;
}

.u-section-3 .u-group-1 {
  min-height: 430px;
  height: auto;
  width: 1240px;
  margin: 25px auto 0 -120px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  text-decoration: underline !important;
  margin: 27px auto 0 493px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -245px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -31px auto 0;
  padding: 18px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 374px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -37px auto 0;
  padding: 18px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 45px 0 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 92px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 84px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 379px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 14px 30px;
}

.u-section-3 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -47px auto 0;
  padding: 18px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 18px 15px 0 -3px;
}

.u-section-3 .u-text-7 {
  margin-left: -3px;
  margin-right: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 333px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -31px auto 0;
  padding: 18px;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 88px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 76px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 69px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 313px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 275px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 116px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 106px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -312px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 305px;
    order: 1;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 335px;
    order: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -17px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 385px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -17px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 162px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 278px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 361px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -17px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 175px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 115px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 102px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 110px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1282px;
}

.u-section-4 .u-gallery-1 {
  height: 1166px;
  margin-top: 108px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-gap: 50px 50px;
  grid-template-columns: auto auto;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 337px;
  min-height: 574px;
  background-image: linear-gradient(to right, white, #f9e79b);
  height: auto;
  margin: -591px 108px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 19px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  background-image: none;
  font-size: 1.125rem;
  margin: 18px 30px 0 8px;
}

.u-section-4 .u-text-3 {
  margin: 24px 19px 0;
}

.u-section-4 .u-text-4 {
  margin: 18px 19px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-4 .u-gallery-1 {
    height: 962px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -421px;
    margin-right: 88px;
    margin-bottom: 35px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1994px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1692px;
    width: 333px;
    margin-top: 92px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    margin: -1123px auto 60px 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-4 .u-gallery-1 {
    height: 801px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }

  .u-section-4 .u-group-1 {
    width: 287px;
    min-height: 412px;
    margin: -412px 0 24px auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-4 .u-gallery-1 {
    height: 521px;
    width: 315px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 8px;
  }
}